*{
    margin:0;
    padding:0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #74c69d;
}

.container{
    background-color: #b7e4c7;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}

form{
    margin: 2rem 0 1rem 0;
}

form select,input,button{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border: 1px solid greenyellow;
    height: 2rem;
    font-size: 1rem;
    padding-left: 0.5rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    
}


#ex{
    border: 1px solid greenyellow;
    height: 2rem;
    font-size: 1rem;
    padding-left: 0.5rem;
    cursor: pointer;

}

.msg{
    padding-left: 5rem;
    margin-bottom: 1 rem;
}

.dropdown i {
   font-size: 1.5rem;
   margin-top: 1rem;
}
